apiVersion: "nuclio.io/v1beta1"
kind: "Function"
spec:
  description: >
    Uses a third-party Python package to encrypt the event body, and showcases
    build commands for installing both OS-level and Python packages.
  runtime: "python:3.6"
  handler: {{ .handler }}
  minReplicas: {{ .minReplicas }}
  maxReplicas: {{ .maxReplicas }}
  build:
    functionSourceCode: {{ .SourceCode }}
